@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'KievitOT';
  src: url('/fonts/KievitOT-Regular.otf') format('truetype');
  /* Replace 'your-otp-font-file.ttf' with the actual name of your OTP font file */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --tertiary-accent-sand: #F0EBDF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: 255, 255, 255
}
